<!-- <form [formGroup]="deliveryForm">
  <div class="container-md card">
    <div class="row" >
      <div class="form-group col-6">
        <label for="name">Name </label>
        <input id="name" type="text" formControlName="firstName">
      </div>
      <div class="form-group col-6">
        <label for="mobile-number">Mobile Number </label>
        <input id="mobile-number" type="text" formControlName="mobileNumber">
      </div>
    </div>
    <div class="row" >
      <div class="form-group col-6">
        <label for="email">Email </label>
        <input id="email" type="text" formControlName="email">
      </div>
      <div class="form-group col-6">
        <label for="city">City </label>
        <input id="city" type="text" formControlName="city">
      </div>
    </div>
    <div class="row" >
      <div class="form-group">
        <label for="address">Address </label>
        <input id="address" type="text" formControlName="address">
      </div>
    </div>
  </div>
  <p>Payment Method</p>
  <div class="container-md card">
    <div class="row px-2 py-3">
      <div class="col-4">
        <input type="radio" value="onlinePayment" id="onlinePayment" name="onlineMethod">
        <label for="onlinePayment" class="ms-2">Online Payment</label>
      </div>
      <div class="col-4">
        <input type="radio" value="cash" id="cash" name="cashMethod">
        <label for="cash" class="ms-2">Cash on Delivery</label>
      </div>
      <div class="col-4">
        <input type="radio" value="pos" id="pos" name="posMethod">
        <label for="pos" class="ms-2">POS on Delivery</label>
      </div>
    </div>
  </div>
</form> -->
