/* item-card.component.css */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.item-card {
  max-width: 300px;
  /* height: 500px ; */
  margin: 0 auto;
}

.item-card .card-img-top {
  width: 100%; /* Ensure the image is responsive */
  height: 200px;
  object-fit: cover;
}
