<app-header />
<div class="container-md mt-4">
  <div class="row">
    <div class="col-xl-8 col-lg-6 col-md-6 col-sm-7">
      <div *ngIf="item" class="row">
        <img [src]="item.imageUrl" alt="" class="img-fluid col-md-5 card-img-top rounded" />
        <div class="col-md-5">
          <h2>{{ item.name }}</h2>
          <p>{{ item.rating }}</p>
          <p>{{ item.description }}</p>
          <p>Price: ${{ item.price }}</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-5">
      <div class="card">
        <div class="card-header">Order Details</div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-2">
            <p>Quantity</p>
            <span
              class="btn-group btn-group-sm"
              role="group"
              aria-label="First group"
            >
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="decrementQuantity()"
              >
                -
              </button>
              <button type="button" class="btn btn-light mx-2" disabled>
                {{ quantity }}
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="incrementQuantity()"
              >
                +
              </button>
            </span>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Note</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="2"
            ></textarea>
          </div>
          <div
            class="d-flex justify-content-between border border-warning-subtle bg-warning-subtle align-items-center px-2 py-2 rounded-1"
          >
            <a
              class="text-danger-emphasis link-underline link-underline-opacity-0 fs-6"
              >APPLY COUPON</a
            >
            <i class="fa-solid fa-ticket text-danger-emphasis"></i>
          </div>
        </div>
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <div class="d-flex justify-content-between pb-0 pt-3">
              <p>Sub Total</p>
              <span>${{ subtotal }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <p>Delivery</p>
              <span>${{ delivery }}</span>
            </div>
          </div>
          <div class="list-group-item d-flex justify-content-between pb-0 pt-3">
            <p>Total</p>
            <span class="fw-bold">${{ total }}</span>
          </div>
          <button class="btn btn-primary mx-3 mt-2">Buy Now</button>
          <button class="btn btn-outline-primary mx-3 my-2">
            <i class="bi bi-cart"></i>
            Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
